name: "Test"
on:
  pull_request:
  push:
jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        nixOpts: [
            "", # default: unstable
            "--override-input nixpkgs https://channels.nixos.org/nixos-25.11/nixexprs.tar.xz",
            "--override-input nixpkgs https://channels.ctrl-os.com/channel/ctrlos-24.05.tar.xz",
          ]
    steps:
      - uses: actions/checkout@v5
      - uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |
            extra-trusted-public-keys = ctrl-os:baPzGxj33zp/P+GAIJXsr8ss9Law+qEEFViX1+flbv8=
            extra-substituters = https://cache.ctrl-os.com/
      - run: nix -L flake check ${{ matrix.nixOpts }}
