name: "Test"
on:
  push:
    branches:
      - main
  pull_request:
  merge_group:
  workflow_dispatch:            # For manual runs on branches
jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        nixOpts: [
            { flag: "", tag: "nixos-unstable" },
            # Disabled until cache.ctrl-os.com is stable.
            #{ flag: "--override-input nixpkgs https://channels.ctrl-os.com/channel/ctrlos-24.05.tar.xz", tag: "ctrlos-24.05" },
          ]
    steps:
      - uses: actions/checkout@v5
      - name: Scrounge-up some more space
        uses: samueldr/more-space-action@97048bd0df83fb05b5257887bdbaffc848887673 # @latest on 2026-01-27
        with:
          enable-lvm-span: true
          lvm-span-mountpoint: /nix
      - uses: samueldr/lix-gha-installer-action@latest
        with:
          extra_nix_config: |
            keep-env-derivations = true
            keep-outputs = true
            extra-trusted-public-keys = ctrl-os:baPzGxj33zp/P+GAIJXsr8ss9Law+qEEFViX1+flbv8=
            extra-substituters = https://cache.ctrl-os.com/
      - name: Build the Modules for ${{ matrix.nixOpts.tag }}
        run: nix -L flake check ${{ matrix.nixOpts.flag }}
      - name: Build the NixOS installer for Nvidia Jetson Orin Nano devices
        run: nix -L build .#packages.x86_64-linux.jetsonOrinNanoInstaller
      - name: Upload the installer as artifact
        uses: actions/upload-artifact@v6
        with:
          name: nvidia-jetson-orin-nano-nixos-${{ github.sha }}
          path: result/iso/nixos-minimal-*.iso
          retention-days: 7
          if-no-files-found: error
