name: "Test"
on:
  pull_request:
  push:
jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        nixOpts: [
            { flag: "", tag: "nixos-unstable" },
            { flag: "--override-input nixpkgs https://channels.nixos.org/nixos-25.11/nixexprs.tar.xz", tag: "nixos-25.11" },
            { flag: "--override-input nixpkgs https://channels.ctrl-os.com/channel/ctrlos-24.05.tar.xz", tag: "ctrlos-24.05" },
          ]
    steps:
      - uses: actions/checkout@v5
      - uses: samueldr/lix-gha-installer-action@latest
        with:
          extra_nix_config: |
            keep-env-derivations = true
            keep-outputs = true
            extra-trusted-public-keys = ctrl-os:baPzGxj33zp/P+GAIJXsr8ss9Law+qEEFViX1+flbv8=
            extra-substituters = https://cache.ctrl-os.com/
      - name: Restore the nix store if available
        uses: nix-community/cache-nix-action/restore@v6
        id: nix-cache-restore
        with:
          primary-key: ctrl-os-modules-${{ runner.os }}-${{ matrix.nixOpts.tag }}-${{ github.sha }}
          restore-prefixes-first-match: ctrl-os-modules-${{ runner.os }}-${{ matrix.nixOpts.tag }}
      - name: Build the Modules for ${{ matrix.nixOpts.tag }}
        run: nix -L flake check ${{ matrix.nixOpts.flag }}
      - name: Store the Build Cache always
        uses: nix-community/cache-nix-action/save@v6
        if: always() && steps.nix-cache-restore.outputs.hit-primary-key != 'true'
        id: nix-cache-save
        with:
          primary-key: ctrl-os-modules-${{ runner.os }}-${{ matrix.nixOpts.tag }}-${{ github.sha }}
          purge: true
          purge-last-accessed: "432000" # Lets keep he cache for 5 days after the last access
